@tailwind base;
@tailwind components;
@tailwind utilities;

/* vertical line */
.comments-container::before {
    position: absolute;
    display: block;
    top: 0;
    left: -38px;
    content: "";
    width: 3px;
    height: 100%;
    background: #edf0f5;
    /*opacity: .07;*/
}

.is-status-update.comment-container:last-child::after {
    left: -39px;
}

/* horizontal line */
.comment-container::before {
    position: absolute;
    display: block;
    top: 57px;
    left: -40px;
    content: "";
    width: 23px;
    height: 3px;
    background: #edf0f5;
    /*opacity: .07;*/
}

.comment-container:last-child::after {
    position: absolute;
    display: block;
    top: 60px;
    left: -37px;
    content: "";
    width: 3px;
    height: calc(100% - 60px);
    background: theme('colors.gray-background');
}

.is-status-update::before {
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 38px;
    border: 7px solid white;
    box-shadow: 4px 4px 15px 0 rgba(36, 37, 38, 0.08);
    left: -58px;
    background: theme('colors.purple');
    opacity: 1;
    z-index: 1;
}

.is-status-update {
    border-width: 1px;
    border-image-source: linear-gradient(266deg, #21c8f6 98%, #637bff -52%);
    background-image: linear-gradient(to bottom, #ffffff, #ffffff), linear-gradient(266deg, #21c8f6 98%, #637bff -52%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

[x-cloak] {
    display: none !important;
}

.status-open, .status-open:before {
    --tw-bg-opacity: 1;
    background-color: rgba(229, 229, 229, var(--tw-bg-opacity));
}

.status-considering, .status-considering:before {
    --tw-bg-opacity: 1;
    background-color: rgba(139, 96, 237, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.status-in-progress, .status-in-progress:before {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 199, 60, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.status-implemented, .status-implemented:before {
    --tw-bg-opacity: 1;
    background-color: rgba(26, 171, 139, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.status-closed, .status-closed:before {
    --tw-bg-opacity: 1;
    background-color: rgba(236, 69, 79, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}
